.carousel-inner{
    padding-top: 60px;
}

.carousel-item img{
    
    height: 600px;
}

.under-carousel{
    position: relative;
    display: contents;
} 

.under-carousel-text,
.vector-carousel-img{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.under-carousel-text{
    position: absolute; 
    /* display: grid; */
    justify-content: start;
    padding-left: 16%;
    color: aliceblue;
}

.vector-carousel-img{
    /* position: absolute;  */
    /* display: ; */
    justify-content: end;
    padding-right: 16%;
}